.PART1{
    width: 100%;
    overflow: hidden;
    padding: 100px 12.5%;
    background-color:antiquewhite;
    display: grid;
    grid-template-columns: 1fr auto;
    box-sizing: border-box;
}
.PART1 .P1-text,.P1-pic{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: auto;
}
.PART1 .P1-text img{
    margin-left: 200px;
    width: 60px;
}
.PART1 .P1-text h1{
    font-size: 60px;
    margin: 0;
    font-weight: bolder;
}
.PART1 .P1-text p{
    font-size: 25px;
    margin-top: 10px;
    font-weight: 700;
}
.PART1 .P1-pic img{
    width: 400px;
    object-fit: contain;
}
.PART2{
    width: 75%;
    background-color: #335558;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 80px auto;
}
.PART2 .P2-text{
    color: white;
    line-height: 40px;
}
.PART2 .P2-text h3{
    font-size: 30px;
    margin: 0;
}
.PART2 .P2-text p{
    font-size: 16px;
    margin: 0;
}
.PART2 .P2-button{
    display: flex;
    justify-content: center;
    align-self: center;
}
.PART2 .P2-button button{
    width: 150px;
    padding: 15px 10px;
    box-sizing: border-box;
    background-color: #F16341;
    border: none;
    font-size: 20px;
    color: white;
    font-family: Montserrat;
    font-weight: bolder;
    border-radius: 10px;
}
.PART2 .P2-button button:hover{
    background-color: white;
    color: #F16341;
}
.PART3{
    width: 75%;
    overflow: hidden;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-bottom: 100px;
}
.PART3 .P3-content{
    width: 100%;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}
.PART3 .P3-content .P3 img{
    width: 100%;
    border-radius:20px ;
}
.PART3 .P3-content .P6-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
}
.PART3 .P3-content .P6-content h1{
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 0;
}
.PART3 .P3-content .P6-content p{
    margin: 0;
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width:1400px){
    .PART1{
        padding: 100px 8%;
    }
    .PART2{
        width: 90%;
        margin: 70px auto;
    }

    .PART3{
        width: 90%;
        gap: 30px;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .PART1{
        padding: 50px 3%;
    }
    .PART2{
        width: 90%;
        margin: 70px auto;
    }

    .PART3{
        width: 90%;
        gap: 30px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .PART1{
        padding: 50px 3%;
        background-color:antiquewhite;
    }
    .PART1 .P1-text h1{
        font-size: 50px;
    }
    .PART1 .P1-text p{
        font-size: 20px;
    }
    .PART1 .P1-pic{
        align-items: center;
    }
    .PART1 .P1-pic img{
        width: 300px;
    }
    .PART2{
        width: 90%;
        margin: 70px auto;
    }
    .PART2 .P2-text{
        line-height: 30px;
    }
    .PART2 .P2-text h3{
        font-size: 25px;
    }
    .PART2 .P2-text p{
        font-size: 16px;
    }
    .PART3{
        width: 90%;
        gap: 30px;
    }
    .PART3 .P3-content{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .PART3 .P3-content .P6-content{
        padding: 10px 0;
        box-sizing: border-box;
    }
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
    .PART1{
        padding: 50px 3%;
        grid-template-columns: 1fr;
    }
    .PART1 .P1-text h1{
        font-size: 50px;
    }
    .PART1 .P1-text p{
        font-size: 20px;
    }
    .PART1 .P1-pic{
        align-items: center;
    }
    .PART1 .P1-pic img{
        width: 400px;
    }
    .PART2{
        width: 90%;
        grid-template-columns: 1fr;
        margin: 70px auto;
    }
    .PART2 .P2-text{
        line-height: 30px;
        text-align: center;
    }
    .PART2 .P2-text h3{
        font-size: 20px;
    }
    .PART2 .P2-text p{
        font-size: 16px;
    }
    .PART2 .P2-button{
        margin-top: 15px;
    }
    .PART2 .P2-button button{
        padding: 10px;
    }
    .PART3{
        width: 90%;
        gap: 30px;
    }
    .PART3 .P3-content{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .PART3 .P3-content .P6-content{
        padding: 10px 0;
        box-sizing: border-box;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .PART1{
        padding: 50px 3%;
        grid-template-columns: 1fr;
    }
    .PART1 .P1-text h1{
        font-size: 40px;
    }
    .PART1 .P1-text p{
        font-size: 20px;
    }
    .PART1 .P1-pic{
        align-items: center;
    }
    .PART1 .P1-pic img{
        width: 300px;
    }
    .PART2{
        width: 90%;
        grid-template-columns: 1fr;
        margin: 70px auto;
    }
    .PART2 .P2-text{
        line-height: 30px;
        text-align: center;
    }
    .PART2 .P2-text h3{
        font-size: 20px;
    }
    .PART2 .P2-text p{
        font-size: 16px;
    }
    .PART2 .P2-button{
        margin-top: 15px;
    }
    .PART2 .P2-button button{
        padding: 10px;
    }
    .PART3{
        width: 90%;
        gap: 30px;
    }
    .PART3 .P3-content{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .PART3 .P3-content .P6-content{
        padding: 10px 0;
        box-sizing: border-box;
    }
}
