.body{
    width: 75%;
    padding: 20px 0 100px 0;
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.body .box1,.box2,.box3,.box4{
    width: 100%;
    overflow: hidden;
}
.body .box1 {
    height: 400px;
    background-size: cover;
    background-image: url(../pic/diner1.jpg);
    animation: box1 15s infinite;
    border-radius: 20px;
}
@keyframes box1{
    12.5%{
        height: 550px;
        background-image: url(../pic/diner2.webp);
    }
    25%{
        height: 550px;
        background-image: url(../pic/diner3.webp);
    }
    37.5%{
        height: 550px;
        background-image: url(../pic/diner4.webp);
    }
    50%{
        height: 550px;
        background-image: url(../pic/diner5.webp);
    }
    62.5%{
        height: 550px;
        background-image: url(../pic/diner6.webp);
    }
    75%{
        height: 550px;
        background-image: url(../pic/diner7.webp);
    }
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.body .box2{
    margin-top: 70px;
    overflow: hidden;
}
.body .box2 h1{
    grid-column: span 2;
    margin-top: 0;
    font-size: 50px;
    color: #f16341;
}
.body .box2 .menu{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.body .box3{
    margin-top: 100px;
}
.body .box3 {
    height: 550px;
    background-size: cover;
    background-image: url(../pic/diner8.webp);
    animation: box3 10s infinite;
    display: flex;
    justify-content: center;
    align-items: end;
    column-gap: 10px;
    border-radius: 20px;
}
@keyframes box3{
    20%{
        background-image: url(../pic/diner9.webp);
    }
    40%{
        background-image: url(../pic/diner10.webp);
    }
    60%{
        background-image: url(../pic/diner11.webp);
    }
    80%{
        background-image: url(../pic/diner12.webp);
    }
}
.body .box4{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}
.body .box4 .left,.right{
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: antiquewhite;
}
.body .box4 .left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.body .box4 .left iframe{
    width: 100%;
}
.body .box4 .right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr 1fr auto;
    gap: 20px;
}
.body .box4 .right h3{
    margin: 0;
    grid-column: span 3;
    color: #f16341;
}
.body .box4 .right img{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px;
}
.body .box4 .right a{
    text-decoration: none;
    color: red;
    text-align: center;
    grid-column: span 3;
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width:1400px) {
    .body{
        width: 80%;
    }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .body{
        width: 90%;
    }
    .body .box1 {
        height: 350px;
    }
    @keyframes box1{
        12.5%{
            height: 500px;
            background-image: url(../pic/diner2.webp);
        }
        25%{
            height: 500px;
            background-image: url(../pic/diner3.webp);
        }
        37.5%{
            height: 500px;
            background-image: url(../pic/diner4.webp);
        }
        50%{
            height: 500px;
            background-image: url(../pic/diner5.webp);
        }
        62.5%{
            height: 500px;
            background-image: url(../pic/diner6.webp);
        }
        75%{
            height: 500px;
            background-image: url(../pic/diner7.webp);
        }
    }
    .body .box3 {
        height: 500px;
    }
    .body .box4 .right img{
        height: 120px;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .body{
        width: 90%;
    }
    .body .box1 {
        height: 300px;
    }
    @keyframes box1{
        12.5%{
            height: 400px;
            background-image: url(../pic/diner2.webp);
        }
        25%{
            height: 400px;
            background-image: url(../pic/diner3.webp);
        }
        37.5%{
            height: 400px;
            background-image: url(../pic/diner4.webp);
        }
        50%{
            height: 400px;
            background-image: url(../pic/diner5.webp);
        }
        62.5%{
            height: 400px;
            background-image: url(../pic/diner6.webp);
        }
        75%{
            height: 400px;
            background-image: url(../pic/diner7.webp);
        }
    }

    .body .box3 {
        height: 400px;
    }
    .body .box4{
        grid-template-columns: 1fr ;
        grid-auto-flow: 1fr 1fr;
        row-gap: 50px;
    }
    .body .box4 .left iframe{
        width: 100%;
        height: 500px;
    }
    .body .box4 .right{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr 1fr 1fr auto;
    }
    .body .box4 .right img{
        height: 300px;
    }
    .body .box4 .right h3{
        grid-column: span 2;
    }
    .body .box4 .right a{
        grid-column: span 2;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
    .body{
        width: 90%;
    }
    .body .box1 {
        height: 200px;
    }
    
    @keyframes box1{
        12.5%{
            height: 300px;
            background-image: url(../pic/diner2.webp);
        }
        25%{
            height: 300px;
            background-image: url(../pic/diner3.webp);
        }
        37.5%{
            height: 300px;
            background-image: url(../pic/diner4.webp);
        }
        50%{
            height: 300px;
            background-image: url(../pic/diner5.webp);
        }
        62.5%{
            height: 300px;
            background-image: url(../pic/diner6.webp);
        }
        75%{
            height: 300px;
            background-image: url(../pic/diner7.webp);
        }
    }
    .body .box2 h1{
        font-size: 40px;
        margin-bottom: 20px;
    }
    .body .box2 .menu{
        display: grid;
        grid-template-columns: 1fr;
    }
    .body .box3 {
        height: 300px;
        margin-top: 50px;
    }
    .body .box4{
        margin-top: 50px;
    }
    .body .box4{
        grid-template-columns: 1fr ;
        grid-auto-flow: 1fr 1fr;
        row-gap: 20px;
    }
    .body .box4 .left iframe{
        width: 100%;
        height: 300px;
    }
    
}
/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .body{
        width: 90%;
    }
    .body .box1 {
        height: 150px;
    }
    @keyframes box1{
        12.5%{
            height: 200px;
            background-image: url(../pic/diner2.webp);
        }
        25%{
            height: 200px;
            background-image: url(../pic/diner3.webp);
        }
        37.5%{
            height: 200px;
            background-image: url(../pic/diner4.webp);
        }
        50%{
            height: 200px;
            background-image: url(../pic/diner5.webp);
        }
        62.5%{
            height: 200px;
            background-image: url(../pic/diner6.webp);
        }
        75%{
            height: 200px;
            background-image: url(../pic/diner7.webp);
        }
    }
    .body .box2 h1{
        font-size: 40px;
        margin-bottom: 20px;
        column-gap: span 1;
    }
    .body .box2 .menu{
        display: grid;
        grid-template-columns: 1fr;
    }
    .body .box3 {
        height: 200px;
        margin-top: 50px;
    }
    .body .box2{
        margin-top: 50px;
        grid-template-columns: 1fr;
        grid-template-rows: auto 300px 500px;
    }
    .body .box4{
        grid-template-columns: 1fr ;
        grid-auto-flow: 1fr 1fr;
        row-gap: 20px;
        margin-top: 50px;
    }
    .body .box4 .left iframe{
        width: 100%;
        height: 300px;
    }
    .body .box4 .right{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto 1fr 1fr 1fr auto;
    }
    .body .box4 .right h3{
        grid-column: span 2;
    }
    .body .box4 .right a{
        grid-column: span 2;
    }
}